[DEFAULT]
IPFWCMD=/sbin/ipfw
DEFAULT_IPFW_TABLE=80
DEFAULT_IPFW_WORKTABLE=81
EXCLUDEIPS=127.0.0.1

# inner endpoint information
LISTEN_ADDR=127.0.0.1
LISTEN_PORT=8765

# outer endpoint information
OUTER_LISTEN_ADDR=
OUTER_LISTEN_PORT=8765
OUTER_ALLOWED_HOSTS=

# relay host information deprecated
RELAYHOSTS=
RELAYPORT=8765
RELAYPATH=/

# relay url information
RELAYURLS=
